body {
    font-family: "lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}


.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.menu {
    background-color: #e0dada;
    margin-left: 160px; /* igual a largura da barra lateral */
    font-size: 28px; /* Texto apliando apra permitir rolagem */
    padding: 0px 10px;
}