
* {
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Cabeçalho/Logo titulo */
.header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

/* Aumento o tamanho da fonte do titulo */
.header {
    font-size: 40px;
}

/* Estilo do barra de navegação superior  */
.navbar {
    overflow: hidden;
    background-color: #333;
}

/* Personalizar os links da barra de navegação superior  */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Link alinhado a direta */
.navbar a.right {
    float: right;
}

/* Alterar a cor ao passar o cursor sobre os links */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Container de colunas */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Duas colunas desiguais lada a lado */
/* Sidebar/coluna esquedo */
.side {
    -ms-flex: 30%; /* IE10 */
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

/* Coluna de Menu */
.main {
    -ms-flex: 70%; /* IE10 */
    flex: 70px;
    background-color: white;
    padding: 20px;
}

/* Imagens */
.img {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background-color: #ddd;
}

/* Layout responsivo - quando a tela tiver menos de 700px de largura, faça com que as duas colunas se empilhem uma sobre a outra em vez de ficar lado a lado */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* Layout reponsivo - quando a tela tiver menos de 400px de largura, faça com que os links 
de navegação se empilem uns sobre os outros em vez de ficarem lado a lado */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}