
body {
    background-color: rgb(187, 182, 182);
}
/* Estilo da aba */
.aba {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Estilo dos botões usado para abrir o conteudo da aba  */

.aba button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Altera a cor de fundo dos botões ao passar o cursor sobre eles */

.aba button:hover {
    background-color: #ddd;
}

/* Cria uma classe na abalink ativa/atual */
.aba button.active {
    background-color: #ccc;
}

/* Estilo da aba de conteudo */
.abaconteudo {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}